--exclude '**/.config/Code/Cache' \
--exclude '/home/**/.mozilla/firefox/**/Cache' \
--exclude '/home/**/.mozilla/firefox/**/storage' \
--exclude '/home/**/.thunderbird/*/global-messages-db.sqlite' \
--exclude '/home/**/snap/firefox/**/.cache' \
--exclude '/home/**/snap/thunderbird/**/global-messages-db.sqlite' \
--exclude '/home/**/snap/thunderbird/**/ImapMail' \
