[submodule "roles/cv"]
	path = roles/cv
	url = https://github.com/MegaphoneJon/ansible-role-cv.git
[submodule "roles/backupninja"]
	path = roles/backupninja
	url = https://github.com/MegaphoneJon/ansible-role-backupninja.git
[submodule "roles/bootstrap"]
	path = roles/bootstrap
	url = https://github.com/MegaphoneJon/ansible-role-bootstrap.git
[submodule "roles/common"]
	path = roles/common
	url = https://github.com/MegaphoneJon/ansible-role-common.git
[submodule "roles/deploy-site"]
	path = roles/deploy-site
	url = https://github.com/MegaphoneJon/ansible-role-deploy-site.git
[submodule "roles/drush"]
	path = roles/drush
	url = https://github.com/MegaphoneJon/ansible-role-drush.git
[submodule "roles/firewall-common"]
	path = roles/firewall-common
	url = https://github.com/MegaphoneJon/ansible-role-firewall-comon.git
[submodule "roles/icinga2-satellite"]
	path = roles/icinga2-satellite
	url = https://github.com/MegaphoneJon/ansible-role-icinga2-satellite.git
[submodule "roles/icinga2-primary"]
	path = roles/icinga2-primary
	url = https://github.com/MegaphoneJon/ansible-role-icinga2-primary.git
[submodule "roles/incoming-smtp"]
	path = roles/incoming-smtp
	url = https://github.com/MegaphoneJon/ansible-role-incoming-smtp.git
[submodule "roles/php-additional"]
	path = roles/php-additional
	url = https://github.com/MegaphoneJon/ansible-role-php-additional.git
[submodule "roles/provision-linode"]
	path = roles/provision-linode
	url = https://github.com/MegaphoneJon/ansible-role-provision-linode.git
[submodule "roles/rsyncnet"]
	path = roles/rsyncnet
	url = https://github.com/MegaphoneJon/ansible-role-rsyncnet.git
[submodule "roles/upgrade-civi"]
	path = roles/upgrade-civi
	url = https://github.com/MegaphoneJon/ansible-role-upgrade-civi.git
[submodule "roles/upgrade-wp"]
	path = roles/upgrade-wp
	url = https://github.com/MegaphoneJon/ansible-role-upgrade-wp.git
[submodule "roles/users"]
	path = roles/users
	url = https://github.com/MegaphoneJon/ansible-role-users.git
[submodule "roles/wp-cli"]
	path = roles/wp-cli
	url = https://github.com/MegaphoneJon/ansible-role-wp-cli.git
[submodule "roles/contrib/geerlingguy.apache"]
	path = roles/contrib/geerlingguy.apache
	url = https://github.com/geerlingguy/ansible-role-apache.git
[submodule "roles/contrib/geerlingguy.apache-php-fpm"]
	path = roles/contrib/geerlingguy.apache-php-fpm
	url = https://github.com/geerlingguy/ansible-role-apache-php-fpm.git
[submodule "roles/contrib/geerlingguy.composer"]
	path = roles/contrib/geerlingguy.composer
	url = https://github.com/geerlingguy/ansible-role-composer.git
[submodule "roles/contrib/geerlingguy.mysql"]
	path = roles/contrib/geerlingguy.mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "roles/contrib/geerlingguy.php"]
	path = roles/contrib/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php.git
[submodule "roles/contrib/geerlingguy.php-versions"]
	path = roles/contrib/geerlingguy.php-versions
	url = https://github.com/geerlingguy/ansible-role-php-versions.git
[submodule "roles/contrib/geerlingguy.postfix"]
	path = roles/contrib/geerlingguy.postfix
	url = https://github.com/geerlingguy/ansible-role-postfix.git
[submodule "roles/contrib/geerlingguy.security"]
	path = roles/contrib/geerlingguy.security
	url = https://github.com/geerlingguy/ansible-role-security.git
[submodule "roles/update-sites"]
	path = roles/update-sites
	url = https://github.com/MegaphoneJon/ansible-role-update-sites.git
[submodule "roles/upgrade-d7"]
	path = roles/upgrade-d7
	url = https://github.com/MegaphoneJon/ansible-role-upgrade-d7.git
[submodule "roles/contrib/geerlingguy.mailhog"]
	path = roles/contrib/geerlingguy.mailhog
	url = https://github.com/geerlingguy/ansible-role-mailhog.git
[submodule "roles/contrib/geerlingguy.daemonize"]
	path = roles/contrib/geerlingguy.daemonize
	url = https://github.com/geerlingguy/ansible-role-daemonize.git
[submodule "roles/site-drupal-monitor"]
	path = roles/site-drupal-monitor
	url = https://github.com/MegaphoneJon/ansible-role-site-drupal-monitor.git
