[submodule "roles/cv"]
	path = roles/cv
	url = https://github.com/MegaphoneJon/ansible-role-cv.git
[submodule "roles/backupninja"]
	path = roles/backupninja
	url = https://github.com/MegaphoneJon/ansible-role-backupninja.git
[submodule "roles/bootstrap"]
	path = roles/bootstrap
	url = https://github.com/MegaphoneJon/ansible-role-bootstrap.git
[submodule "roles/common"]
	path = roles/common
	url = https://github.com/MegaphoneJon/ansible-role-common.git
[submodule "roles/deploy-site"]
	path = roles/deploy-site
	url = https://github.com/MegaphoneJon/ansible-role-deploy-site.git
[submodule "roles/drush"]
	path = roles/drush
	url = https://github.com/MegaphoneJon/ansible-role-drush.git
[submodule "roles/firewall-common"]
	path = roles/firewall-common
	url = https://github.com/MegaphoneJon/ansible-role-firewall-common.git
[submodule "roles/icinga2-satellite"]
	path = roles/icinga2-satellite
	url = https://github.com/MegaphoneJon/ansible-role-icinga2-satellite.git
[submodule "roles/icinga2-primary"]
	path = roles/icinga2-primary
	url = https://github.com/MegaphoneJon/ansible-role-icinga2-primary.git
[submodule "roles/incoming-smtp"]
	path = roles/incoming-smtp
	url = https://github.com/MegaphoneJon/ansible-role-incoming-smtp.git
[submodule "roles/php-additional"]
	path = roles/php-additional
	url = https://github.com/MegaphoneJon/ansible-role-php-additional.git
[submodule "roles/provision-linode"]
	path = roles/provision-linode
	url = https://github.com/MegaphoneJon/ansible-role-provision-linode.git
[submodule "roles/rsyncnet"]
	path = roles/rsyncnet
	url = https://github.com/MegaphoneJon/ansible-role-rsyncnet.git
[submodule "roles/upgrade-civi"]
	path = roles/upgrade-civi
	url = https://github.com/MegaphoneJon/ansible-role-upgrade-civi.git
[submodule "roles/upgrade-wp"]
	path = roles/upgrade-wp
	url = https://github.com/MegaphoneJon/ansible-role-upgrade-wp.git
[submodule "roles/users"]
	path = roles/users
	url = https://github.com/MegaphoneJon/ansible-role-users.git
[submodule "roles/wp-cli"]
	path = roles/wp-cli
	url = https://github.com/MegaphoneJon/ansible-role-wp-cli.git
[submodule "roles/contrib/geerlingguy.apache"]
	path = roles/contrib/geerlingguy.apache
	url = https://github.com/geerlingguy/ansible-role-apache.git
[submodule "roles/contrib/geerlingguy.apache-php-fpm"]
	path = roles/contrib/geerlingguy.apache-php-fpm
	url = https://github.com/geerlingguy/ansible-role-apache-php-fpm.git
[submodule "roles/contrib/geerlingguy.composer"]
	path = roles/contrib/geerlingguy.composer
	url = https://github.com/geerlingguy/ansible-role-composer.git
[submodule "roles/contrib/geerlingguy.mysql"]
	path = roles/contrib/geerlingguy.mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "roles/contrib/geerlingguy.php"]
	path = roles/contrib/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php.git
[submodule "roles/contrib/geerlingguy.php-versions"]
	path = roles/contrib/geerlingguy.php-versions
	url = https://github.com/geerlingguy/ansible-role-php-versions.git
[submodule "roles/contrib/geerlingguy.postfix"]
	path = roles/contrib/geerlingguy.postfix
	url = https://github.com/geerlingguy/ansible-role-postfix.git
[submodule "roles/contrib/geerlingguy.security"]
	path = roles/contrib/geerlingguy.security
	url = https://github.com/geerlingguy/ansible-role-security.git
[submodule "roles/update-sites"]
	path = roles/update-sites
	url = https://github.com/MegaphoneJon/ansible-role-update-sites.git
[submodule "roles/upgrade-d7"]
	path = roles/upgrade-d7
	url = https://github.com/MegaphoneJon/ansible-role-upgrade-d7.git
[submodule "roles/contrib/geerlingguy.mailhog"]
	path = roles/contrib/geerlingguy.mailhog
	url = https://github.com/geerlingguy/ansible-role-mailhog.git
[submodule "roles/contrib/geerlingguy.daemonize"]
	path = roles/contrib/geerlingguy.daemonize
	url = https://github.com/geerlingguy/ansible-role-daemonize.git
[submodule "roles/site-drupal-monitor"]
	path = roles/site-drupal-monitor
	url = https://github.com/MegaphoneJon/ansible-role-site-drupal-monitor.git
[submodule "roles/site-wp-monitor"]
	path = roles/site-wp-monitor
	url = https://github.com/MegaphoneJon/ansible-role-site-wp-monitor.git
[submodule "roles/localhost-bootstrap"]
	path = roles/localhost-bootstrap
	url = https://github.com/MegaphoneJon/ansible-role-localhost-bootstrap.git
[submodule "roles/site-cron"]
	path = roles/site-cron
	url = https://github.com/MegaphoneJon/ansible-role-site-cron.git
[submodule "roles/apache-additional"]
	path = roles/apache-additional
	url = https://github.com/MegaphoneJon/ansible-role-apache-additional.git
[submodule "roles/site-user-php-apache"]
	path = roles/site-user-php-apache
	url = https://github.com/MegaphoneJon/ansible-role-site-user-php-apache.git
[submodule "roles/site-habitat"]
	path = roles/site-habitat
	url = https://github.com/MegaphoneJon/site-habitat.git
[submodule "roles/site-mysql"]
	path = roles/site-mysql
	url = https://github.com/MegaphoneJon/ansible-role-site-mysql.git
[submodule "roles/site-gitea"]
	path = roles/site-gitea
	url = https://github.com/MegaphoneJon/ansible-role-site-gitea.git
[submodule "roles/site-db-sync"]
	path = roles/site-db-sync
	url = https://github.com/MegaphoneJon/ansible-role-site-db-sync.git
[submodule "roles/site-permissions"]
	path = roles/site-permissions
	url = https://github.com/MegaphoneJon/ansible-role-site-permissions.git
[submodule "roles/site-standard-extensions"]
	path = roles/site-standard-extensions
	url = https://github.com/MegaphoneJon/ansible-role-site-standard-extensions.git
[submodule "roles/fail2ban"]
	path = roles/fail2ban
	url = https://github.com/MegaphoneJon/ansible-role-fail2ban.git
[submodule "roles/site-robots-txt"]
	path = roles/site-robots-txt
	url = https://github.com/MegaphoneJon/ansible-role-site-robots-txt.git
[submodule "roles/site-postinstall-config"]
	path = roles/site-postinstall-config
	url = https://github.com/MegaphoneJon/ansible-role-site-postinstall-config.git
[submodule "roles/modsecurity"]
	path = roles/modsecurity
	url = https://github.com/MegaphoneJon/ansible-role-modsecurity.git
[submodule "roles/mysql-firewall"]
	path = roles/mysql-firewall
	url = https://github.com/MegaphoneJon/ansible-mysql-firewall.git
[submodule "roles/site-db-sync-initial"]
	path = roles/site-db-sync-initial
	url = https://github.com/MegaphoneJon/ansible-role-site-db-sync-initial
[submodule "roles/mysql-additional"]
	path = roles/mysql-additional
	url = https://github.com/MegaphoneJon/ansible-role-mysql-additional
[submodule "roles/site-dns"]
	path = roles/site-dns
	url = https://github.com/MegaphoneJon/ansible-role-site-dns
[submodule "roles/contrib/geerlingguy.docker"]
	path = roles/contrib/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker.git
[submodule "roles/contrib/geerlingguy.pip"]
	path = roles/contrib/geerlingguy.pip
	url = https://github.com/geerlingguy/ansible-role-pip.git
[submodule "roles/nosudo-backup"]
	path = roles/nosudo-backup
	url = https://github.com/MegaphoneJon/ansible-role-nosudo-backup
[submodule "roles/promtail-docker"]
	path = roles/promtail-docker
	url = https://github.com/MegaphoneJon/ansible-role-promtail-docker
[submodule "roles/upgrade-drupal"]
	path = roles/upgrade-drupal
	url = https://github.com/MegaphoneJon/ansible-role-upgrade-drupal
[submodule "roles/redis-additional"]
	path = roles/redis-additional
	url = https://github.com/MegaphoneJon/ansible-role-redis-additional
[submodule "roles/mayfirst"]
	path = roles/mayfirst
	url = https://github.com/MegaphoneJon/ansible-role-mayfirst.git
[submodule "roles/caddy-docker"]
	path = roles/caddy-docker
	url = git@github.com:MegaphoneJon/ansible-role-caddy-docker.git
[submodule "roles/civiproxy-docker"]
	path = roles/civiproxy-docker
	url = git@github.com:MegaphoneJon/ansible-role-civiproxy-docker.git
[submodule "roles/wireguard-docker"]
	path = roles/wireguard-docker
	url = git@github.com:MegaphoneJon/ansible-role-wireguard-docker.git
