<VirtualHost *:80>
  DocumentRoot {{ webroot }}
  ServerName {{ bare_url }}

  ProxyPassMatch ^/(.*\.php(/.*)?)$ "unix:/var/run/php/php-fpm-{{ bare_url }}.sock|fcgi://localhost{{ webroot }}"
  RedirectMatch 404 /\.git
<Directory "{{ webroot }}">
  AllowOverride All
  Options -Indexes
{% if env == 'Test' %}
  AuthType Basic
  AuthName "Restricted Content"
  AuthUserFile {{ webroot }}/htpasswd
  <RequireAny>
    Require valid-user
    Require ip 127.0.0.1
  </RequireAny>
{% else %}
  Require all granted
{% endif %}
</Directory>
</VirtualHost>

