<VirtualHost *:80>
  DocumentRoot {{ item.value.webroot }}
  ServerName {{ item.key }}

  ProxyPassMatch ^/(.*\.php(/.*)?)$ "unix:/var/run/php/php-fpm-{{ item.key }}.sock|fcgi://localhost{{ item.value.webroot }}"
  RedirectMatch 404 /\.git
<Directory "{{ item.value.webroot }}">
  AllowOverride All
  Require all granted
  Options -Indexes
</Directory>
</VirtualHost>

