  vars.subdomains["california.donate.agbu.org"] = {
    crm_site_key = "{{ lookup('community.general.passwordstore', 'agbu/pantheon/agbu.org/sitekey') }}"
    crm_api_key = "{{ lookup('community.general.passwordstore', 'agbu/pantheon/agbu.org/civicrm_api_key') }}"
    cms = "drupal8"
  }
  vars.subdomains["toronto.donate.agbu.org"] = {
    crm_site_key = "{{ lookup('community.general.passwordstore', 'agbu/pantheon/agbu.org/sitekey') }}"
    crm_api_key = "{{ lookup('community.general.passwordstore', 'agbu/pantheon/agbu.org/civicrm_api_key') }}"
    cms = "drupal8"
  }
  vars.subdomains["ugabfrance.org"] = {
    crm_site_key = "{{ lookup('community.general.passwordstore', 'agbu/pantheon/agbu.org/sitekey') }}"
    crm_api_key = "{{ lookup('community.general.passwordstore', 'agbu/pantheon/agbu.org/civicrm_api_key') }}"
    cms = "drupal8"
  }
  vars.subdomains["agbu.am"] = {
    crm_site_key = "{{ lookup('community.general.passwordstore', 'agbu/pantheon/agbu.org/sitekey') }}"
    crm_api_key = "{{ lookup('community.general.passwordstore', 'agbu/pantheon/agbu.org/civicrm_api_key') }}"
    cms = "drupal8"
  }
