--exclude '**/Plex Media Server/Media' \
--exclude '**/Transcode/Sessions' \
--exclude '**/Plex Media Server/Metadata' \
--exclude '**/Plex Media Server/Cache' \
--exclude '**/tautulli/config/cache' \
--exclude '/opt/borg-zabuntu' \

