#FIXME We would ideally like to not exclude sites/default, and maybe not even Google Site Verification
# Ignore everything in default directory
sites/default/
sites/default/*
sites/default/.*

/googled1a*f.html
