# werise-toolkit .gitignore customizations
/googled1a*f.html
# Let's not change the existing setup, things are done too differently here (e.g. preferring .htaccess customizations over sites-available config)
.htaccess
