# werise-toolkit .gitignore customizations
settings.local.inc
googled1a9ee51e822e42f.html
# Let's not change the existing setup, things are done too differently here (e.g. preferring .htaccess customizations over sites-available config)
.htaccess
sites/default/*
