wp-content/plugins/nextgen-gallery/vendor/ezyang/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/HTML/
wp-content/plugins/ml-slider/lib/htmlpurifier/library/MSHTMLPurifier/DefinitionCache/Serializer/HTML/
