- name: Check out civicrm-setup
  git:
    repo: https://github.com/civicrm/civicrm-setup
    dest: /opt/civicrm-setup
  become_user: root
  when: item.item.value.civicrm == 'Yes'

- name: Create CiviCRM folder
  file:
    path: "{{ item.item.value.civiroot }}"
    state: directory
  when: item.item.value.civicrm == 'Yes'
  become_user: "{{ item.item.value.run_as_user }}"

- name: Create CiviCRM uploads folder
  file:
    path: "{{ item.item.value.civicrm_settings_php_path }}"
    state: directory
  when: item.item.value.civicrm == 'Yes'
  become_user: "{{ item.item.value.run_as_user }}"

- name: Set file permissions
  file:
    dest: "{{ item.item.value.webroot }}"
    owner: "{{ item.item.value.run_as_user }}"
    group: "{{ item.item.value.run_as_user }}"
    recurse: yes
    mode: ug=rwX
  become_user: root

- name: Run cv core:install
  command: "cv core:install --db=mysql://{{ item.item.value.db_user }}:{{ lookup('passwordstore', item.item.value.client + '/' + hostname + '/' + item.item.value.bare_url + '/mysql') }}@localhost/{{ item.item.value.crm_db_name }} --cms-base-url={{ item.item.value.primary_url }}"
  args:
    chdir: "{{ item.item.value.civiroot }}"
    creates: "{{ item.item.value.civicrm_settings_php_path }}/civicrm.settings.php"
  become_user: "{{ item.item.value.run_as_user }}"

- name: git init
  command:  git init {{ item.item.value.webroot }}
  args:
    creates: "{{ item.item.value.webroot }}/.git"
  become_user: "{{ item.item.value.run_as_user }}"

- name: git config - user, email, remotes
  blockinfile:
    path: "{{ item.item.value.webroot }}/.git/config"
    block: |
      [user]
        email = none@megaphonetech.com
        name = {{ item.item.value.run_as_user }} on {{ item.item.key }}
      [remote "origin"]
        url = {{ item.item.value.git_repo_url }}
        fetch = +refs/heads/*:refs/remotes/origin/*
        pushurl = {{ item.item.value.git_repo_push_url }}
  become_user: "{{ item.item.value.run_as_user }}"

- name: git add
  command: git add -A
  args:
    chdir: "{{ item.item.value.webroot }}"
  register: add_result
  changed_when: add_result.stdout != ''
  become_user: "{{ item.item.value.run_as_user }}"

- name: git commit
  command: git commit -m "Initial commit (via Ansible)"
  args:
    chdir: "{{ item.item.value.webroot }}"
  register: commit_result
  changed_when: commit_result.rc == 0
  failed_when: not(commit_result.rc == 0 or commit_result.stdout == 'On branch master\nnothing to commit, working tree clean')
  become_user: "{{ item.item.value.run_as_user }}"

- name: Set file permissions (again)
  file:
    dest: "{{ item.item.value.webroot }}"
    owner: "{{ item.item.value.run_as_user }}"
    group: "{{ item.item.value.run_as_user }}"
    recurse: yes
    mode: ug=rwX
  become_user: root

- name: git push
  command: git push --set-upstream origin master
  args:
    chdir: "{{ item.item.value.webroot }}"
  register: push_result
  when: item.item.value.internal_repo == "1" and (item.item.value.git_repo_push_url is search("ssh://"))
  changed_when: push_result.rc == 0
  failed_when: not(push_result.rc == 0)
  become_user: "{{ item.item.value.run_as_user }}"

# Normally this happens on login, but we need to do it now for API key purposes
- name: Create a CiviCRM contact for the admin user
  shell: echo '{"contact_type":"Individual", "display_name":"{{ item.item.value.admin_email }}","api_key":"{{ lookup('passwordstore', item.item.value.client + '/' + hostname + '/' + item.item.value.bare_url + '/apikey create=true length=32') }}","email":"{{ item.item.value.admin_email }}","options":{"match":"email"}}' | cv api contact.create --in=json
  args:
    chdir: "{{ item.item.value.webroot }}"
  become_user: "{{ item.item.value.run_as_user }}"
# FIXME: We should be generating API keys on all systems, not just new ones. But matching on some other criteria.
